/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the header section */
#page_header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page_header h1 {
    font-size: 36px;
}

#page_header h2 {
    font-size: 18px;
}

/* Default navigation bar styles */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navOption {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.navOption:hover {
    background-color: #333;
    color: #838383;
}

/* Dropdown menu styles */
.dropdown {
    display: none;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #555;
}

.dropdown-content {
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    .navList {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

/* Add styles to the checkbox (hidden) */
#menuToggle {
    display: none;
}

/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

input[type="checkbox"]:checked ~ .dropdown-content {
    display: block;
}

